@using System.Linq;
@model MovieReviewsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @{
    var preferredName = ViewData["PreferredName"] as string;
    }

<h2>Reviews for @Model.Movie.Title</h2>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @{
      
            <tr>
                <td>@Model.Movie.Title</td>
                <td>@Model.Movie.ReleaseDate</td>
                <td>@Model.Movie.Rating</td>
            </tr>
        
        }
    </tbody>
</table>


<table class="table">
@if (@Model != null)
{
    <thead>
        <tr>
            <th>User</th>
            <th>Review</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>

        
        @foreach (var @review in @Model.Reviews)
        {
                <tr>
            <td>@review.PreferredName</td>
            <td>@review.Content</td>
                    <!-- Update and delete buttons for each review -->
                    @if (User.Identity.IsAuthenticated && preferredName == @review.PreferredName)
                    {
                        <td>
                            <a class="btn btn-secondary" asp-action="Edit" asp-controller="Review" asp-route-id="@review.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Review" asp-route-id="@review.Id">Delete</a>
                        </td>
                    }
                </tr>
        }
   
    </tbody>

    
   

   
}
else
{
    <p>No reviews yet.</p>
}
</table>

@if (SignInManager.IsSignedIn(User))
{
    <h5>Add a Review</h5>
    @await Html.PartialAsync("_submitReview", new MovieApp.Models.Review { MovieId = Model.Movie.MovieId })
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> to add a review.</p>
}

<a asp-action="Index" asp-controller="Movies">Back to Movies</a>
